.column-headers {
  width: 100% !important;
  .col {
    width: 20% !important;
    font-weight: bold;
  }
}

td {
  div * {
    margin: 5px;
  }
}

img {
  width: 80px;
}

.inner-row {
  border-bottom: none;
}

.alter-count {
  cursor: pointer;
}

.remove-item {
  cursor: pointer;
  font-size: 14px !important;
  font-weight: bold;
}

.bottom-div{
  *{
    padding-bottom: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
  font-weight: bold;
  font-size: 20px;
  }
}


.header {
  font-weight: bold;
}

.payment-btn{

  display: inline-block;
  right: 0px;
}
