// .main-container {
//   div {
//     &:first-child {
//       margin-right: 0px;
//     }
//   }
// }

.sign-in-sign-up {
    background-color: black;
    color: white;
  
    &:hover {
      background-color: white;
      color: black;
    }
  }