.header .navbar-fixed{
  margin-right: 350px !important;
}

// .navbar-fixed {
//   margin: 0 0px 10px 25px;
// }

ul {
  li {
    .link {
      color: black;
      font-weight: bold;
    }
  }
  padding-left: 0px !important;
}

.dropdown-content {
  width: fit-content !important;
  height: fit-content !important;
  top: 100% !important;
  display: block !important;
  margin-right: 0px !important;
  li:hover {
    background-color: white !important;
  }
}

// nav ul li:hover {
//   background-color: rgba(0, 0, 0, 0) !important;
// }
