.navbar {
  margin: 0 10px 10px 25px;
}

ul {
  li {
    .link {
      color: black;
      font-weight: bold;
    }
  }
}

.dropdown-content {
  width: fit-content !important;
  height: fit-content !important;
  top: 100% !important;
  li:hover {
    background-color: white !important;
  }

}

// nav ul li:hover {
//   background-color: rgba(0, 0, 0, 0) !important;
// }
