

.collection-item {
  padding: 10px !important;
  &:hover {
    .image {
      opacity: 0.7;
    }

    button {
      display: block;
    }
  }

  border: 2px solid white;

}

.add-button {
  width: 90%;
  text-align: center;
  margin: auto;
  margin-bottom: 10px;
  display: none;
  @media only screen and (max-width: 800px) {
    display: block;
  }
  
}

.name {
  font-weight: bold;
}

.price {
  font-weight: bold;
}
